<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>@ViewData["Title"] | AdminLTE 3</title>
    <!-- Global -->
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="~/css/skin-midnight.css">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="~/lib/select2/css/select2.css">
    <link rel="stylesheet" href="~/lib/select2-bootstrap4-theme/select2-bootstrap4.css">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="~/lib/datatables-bs4/css/dataTables.bootstrap4.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/admin-lte/css/adminlte.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

    @RenderSection("head", required: false)

</head>

  <body class="hold-transition layout-fixed sidebar-mini">
    
    <div class="wrapper">

      <partial name="_LayoutMainHeader" />

      <partial name="_LayoutMainSidebar" />

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        @RenderBody()
        <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->

      <partial name="_LayoutControlSidebar" />
      
    </div>
    <!-- ./wrapper -->

    <!-- REQUIRED SCRIPTS -->
    <environment names="Development,Staging,Production">
        <!-- jQuery -->
        <script src="~/lib/jquery/jquery.js"></script>
        <!-- Select2 -->
        <script src="~/lib/select2/js/select2.js"></script>
        <!-- Bootstrap 4 -->
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
        <!-- DataTables -->
        <script src="~/lib/datatables/jquery.dataTables.js"></script>
        <script src="~/lib/datatables-bs4/js/dataTables.bootstrap4.js"></script>
        <!-- InputMask -->
        <script src="~/lib/moment.js/moment.js"></script>
        <script src="~/lib/jquery.inputmask/jquery.inputmask.bundle.min.js"></script>
        <!-- AdminLTE App -->
        <script src="~/admin-lte/js/adminlte.js"></script>

        <script type="text/javascript">
        
          (function () 
          {
            var sidebarToggleCollapsed = sessionStorage.getItem('sidebar-toggle-collapsed');
            if (Boolean(sidebarToggleCollapsed)) {
              var body = document.getElementsByTagName('body')[0];
              body.className = body.className + ' sidebar-collapse';
            }
            var darkModeActivated = sessionStorage.getItem('darkMode');
            if (Boolean(darkModeActivated))
            {
              $('body').addClass('skin-midnight');
            }
          })();

          $('[data-widget="pushmenu"]').on('collapsed.lte.pushmenu shown.lte.pushmenu', function () {
            event.preventDefault();
            if (Boolean(sessionStorage.getItem('sidebar-toggle-collapsed'))) {
              sessionStorage.setItem('sidebar-toggle-collapsed', '');
            } else {
              sessionStorage.setItem('sidebar-toggle-collapsed', '1');
            }
          });

          darkModeSwitch = function() 
          {
            var darkModeActivated = sessionStorage.getItem('darkMode');
            var elm = document.createElement('div')

            elm.setAttribute("class", "dark-mode-transition");
            elm.setAttribute("style", "display: none; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: black; z-index: 9999;");

            document.body.appendChild(elm);
            $('.dark-mode-transition').fadeTo(300, 1, function()
            {
              if (darkModeActivated)
                sessionStorage.removeItem('darkMode');
              else
                sessionStorage.setItem('darkMode', true);

              $('body').toggleClass('skin-midnight');
              $('.dark-mode-transition').fadeTo(700,0, function() 
              {
                $('.dark-mode-transition').remove();
              });
            });
          }

        </script>

    </environment>

    @RenderSection("scripts", required: false)

  </body>
</html>
