@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head {
    @RenderSection("head", required: false)
}

@section headerNavItems {
    @RenderSection("headerNavItems", required: false)
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <partial name="Sidebar" />
            </div><!--/.col-->
            <div class="col-md-7">

                @RenderBody()

            </div><!--/.col-->
            <div class="col-md-3">
                @await Component.InvokeAsync("Chat")
                <com>
            </div>
            <!-- /.col -->
        </div><!--/.row-->
    </div><!--/.container-fluid-->
</section><!--/.content-->

@section scripts 
{
    @RenderSection("scripts", required: false)
}