@using static PersonalBlog.Secret;
@using Microsoft.AspNetCore.Identity
@using PersonalBlog.Models;
@inject SignInManager<CustomUser> SignInManager
@inject UserManager<CustomUser> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
    bool userIsAdmin = (user != null) &&  await UserManager.IsInRoleAsync(user, "Admin");   
}

<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">

    <!-- Brand Logo -->
    <a asp-controller="Dashboard" asp-action="Index" class="brand-link">
      <img src="~/img/logo.png" alt="Devop Logo" class="brand-image img-circle elevation-3"
           style="opacity: .8">
      <span class="brand-text font-weight-light text-danger"><strong>Dev</strong>cat</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column nav-legacy" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a asp-controller="Dashboard" asp-action="Index" class="nav-link" is-active-route>
                        <i class="fas fa-tachometer-alt nav-icon"></i>
                        <p>
                            Dashboard
                        </p>
                    </a>
                </li>
                <li class="nav-item has-treeview">
                    <a asp-controller="Blog" asp-action="Index" class="nav-link" is-active-route>
                        <i class="fas fa-blog nav-icon text-primary"></i>
                        <p class="text-primary">
                            Blog
                            <span class="badge badge-primary right">36</span>
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Courses" asp-action="Index" class="nav-link" is-active-route>
                        <i class="fas fa-graduation-cap nav-icon text-info"></i>
                        <p class="text-info">
                            Courses
                            <span class="badge badge-info right">6</span>
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Books" asp-action="Index" class="nav-link" is-active-route>
                        <i class="fas fa-book nav-icon text-warning"></i>
                        <p class="text-warning">
                            Books
                            <span class="badge badge-warning right">4</span>
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Radios" asp-action="Index" class="nav-link" is-active-route>
                        <i class="fas fa-music nav-icon text-danger"></i>
                        <p class="text-danger">
                            Radios
                            <span class="right badge badge-danger">New</span>
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Games" asp-action="Index" class="nav-link" is-active-route>
                        <i class="fas fa-puzzle-piece text-success nav-icon"></i>
                        <p class="text-success">
                            Games
                            <span class="badge badge-success right">1</span>
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Users" asp-action="Index" class="nav-link" is-active-route>
                        <i class="fas fa-user text-secondary nav-icon"></i>
                        <p class="text-secondary">
                            Users
                            <span class="badge badge-secondary right">14</span>
                        </p>
                    </a>
                </li>
                @if (userIsAdmin)
                {
                    <li class="nav-item">
                        <a asp-controller="Admin" asp-action="Index" class="nav-link" is-active-route>
                            <i class="nav-icon fas fa-tools text-light"></i>
                            <p class="text-light">
                                Administration
                            </p>
                        </a>
                    </li>  
                }
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
</aside>
