
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head 
{
  <style>   
    .outer {
      display: table;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }
    
    .middle {
      display: table-cell;
      vertical-align: middle;
    }
    
    .inner {
      margin-left: auto;
      margin-right: auto;
      width: 400px;
    }
  </style>
}

@section controlSidebar
{
  <div class="maxi">
    <div class="border-xl border-top border-danger"></div>
    <div class="text-center p-4">
        <h1 class="text-danger display-3"><i class="fas fa-music nav-icon"></i></h1>
        <p class="text-white text-uppercase">Radios around the world</p>
    </div>

    <div class="border-top border-bottom border-light-grey bg-grey p-4">
        <span class="text-danger text-uppercase"><strong>EUROPE</strong></span>
        <p class="pt-3">sdkfhs kfhjs kfjhs kfhs kfjhs fkjs kskfs dfkjs fks kfs fkh eiruyi uye uirtyz uytr df nxcbvw vsjdfgh js</p>
    </div>

    <div class="bg-grey">
        <ul>
            <li class="nav-item p-0">
              <a href="#" class="nav-link px-4 py-2">
                <img src="https://cdn2.iconfinder.com/data/icons/flags_gosquared/64/France_flat.png" class="flag" />
                France
                <span class="float-right text-white">12</span>
              </a>
            </li>
            <li class="nav-item p-0">
              <a href="#" class="nav-link px-4 py-2">
                <img src="https://cdn2.iconfinder.com/data/icons/flags_gosquared/64/Belgium_flat.png" class="flag" />
                Belgium
                <span class="float-right text-white">26</span>
              </a>
            </li>
            <li class="nav-item p-0">
              <a href="#" class="nav-link px-4 py-2">
                <img src="https://cdn2.iconfinder.com/data/icons/flags_gosquared/64/Portugal_flat.png" class="flag" />
                Portugal
                <span class="float-right text-white">33</span>
              </a>
            </li>
            <li class="nav-item p-0">
              <a href="#" class="nav-link px-4 py-2">
                <img src="" class="flag" />
                All radios from Europe
                <span class="float-right text-white">576</span>
              </a>
            </li>
        </ul>        
    </div>
    <div class="border-bottom border-light-grey bg-grey pt-0 p-4">
        <span class="text-danger text-uppercase"><strong>ASIA</strong></span>
        <p class="pt-3">sdkfhs kfhjs kfjhs kfhs kfjhs fkjs kskfs dfkjs fks kfs fkh eiruyi uye uirtyz uytr df nxcbvw vsjdfgh js</p>
    </div>

    <div class="bg-grey">
        <ul>
            <li class="nav-item p-0">
              <a href="#" class="nav-link px-4 py-2">
                <img src="https://cdn2.iconfinder.com/data/icons/flags_gosquared/64/Cambodia_flat.png" class="flag" />
                Cambodia
                <span class="float-right text-white">42</span>
              </a>
            </li>
            <li class="nav-item p-0">
              <a href="#" class="nav-link px-4 py-2">
                <img src="https://cdn2.iconfinder.com/data/icons/flags_gosquared/64/China_flat.png" class="flag" />
                China
                <span class="float-right text-white">17</span>
              </a>
            </li>
            <li class="nav-item p-0">
              <a href="#" class="nav-link px-4 py-2">
                <img src="https://cdn2.iconfinder.com/data/icons/flags_gosquared/64/India_flat.png" class="flag" />
                India
                <span class="float-right text-white">53</span>
              </a>
            </li>
            <li class="nav-item p-0">
              <a href="#" class="nav-link px-4 py-2">
                <img src="" class="flag" />
                All radios from Asia
                <span class="float-right text-white">952</span>
              </a>
            </li>
        </ul>        
    </div>
  </div>
  <div class="mini">
      <div class="border-bottom border-light-grey h-70 text-center">
            <div class="border-xl border-top border-danger"></div>
            <h3 class="text-danger py-3"><i class="fas fa-music nav-icon"></i></h3>
        </div>
      
      <div class="border-bottom border-light-grey bg-grey text-center py-2">
          <span class="text-danger text-uppercase"><strong>EUROPE</strong></span>
      </div>

      <div class="bg-grey">
          <ul>
              <li class="nav-item text-center p-0" data-toggle="tooltip" data-placement="left" title="France">
                <a href="#" class="nav-link p-2">
                  FRA
                </a>
              </li>
              <li class="nav-item text-center p-0" data-toggle="tooltip" data-placement="left" title="Belgium">
                <a href="#" class="nav-link p-2">
                  BEL
                </a>
              </li>
              <li class="nav-item text-center p-0" data-toggle="tooltip" data-placement="left" title="Portugal">
                <a href="#" class="nav-link p-2">
                  PRT
                </a>
              </li>
              <li class="nav-item text-center p-0" data-toggle="tooltip" data-placement="left" title="All radios from Europe">
                  <a href="#" class="nav-link p-2">
                    ...
                  </a>
              </li>
          </ul>        
      </div>
      
      <div class="border-bottom border-light-grey bg-grey text-center py-2">
          <span class="text-danger text-uppercase"><strong>ASIA</strong></span>
      </div>

      <div class="bg-grey">
          <ul>
              <li class="nav-item text-center p-0" data-toggle="tooltip" data-placement="left" title="Cambodia">
                  <a href="#" class="nav-link p-2">
                    KHM
                  </a>
              </li>
              <li class="nav-item text-center p-0" data-toggle="tooltip" data-placement="left" title="China">
                  <a href="#" class="nav-link p-2">
                    CHN
                  </a>
              </li>
              <li class="nav-item text-center p-0" data-toggle="tooltip" data-placement="left" title="India">
                  <a href="#" class="nav-link p-2">
                    IND
                  </a>
              </li>
              <li class="nav-item text-center p-0" data-toggle="tooltip" data-placement="left" title="All radios from Asia">
                  <a href="#" class="nav-link p-2">
                    ...
                  </a>
              </li>
          </ul>        
      </div>
      
      <div class="border-bottom border-light-grey bg-grey text-center py-2">
          <span class="text-danger text-uppercase"><strong>AFRICA</strong></span>
      </div>

      <div class="bg-grey">
          <ul>
              <li class="nav-item text-center p-0" data-toggle="tooltip" data-placement="left" title="Cameroon">
                  <a href="#" class="nav-link p-2">
                    CMR
                  </a>
              </li>
              <li class="nav-item text-center p-0" data-toggle="tooltip" data-placement="left" title="Madagascar">
                  <a href="#" class="nav-link p-2">
                    MDG
                  </a>
              </li>
              <li class="nav-item text-center p-0" data-toggle="tooltip" data-placement="left" title="South Africa">
                  <a href="#" class="nav-link p-2">
                    ZAF
                  </a>
              </li>
              <li class="nav-item text-center p-0" data-toggle="tooltip" data-placement="left" title="All radios from Africa">
                  <a href="#" class="nav-link p-2">
                    ...
                  </a>
              </li>
          </ul>        
      </div>      

      <div class="border-bottom border-light-grey bg-grey text-center py-2">
          <span class="text-danger text-uppercase"><strong>AMERICA</strong></span>
      </div>

      <div class="bg-grey">
          <ul>
              <li class="nav-item text-center p-0" data-toggle="tooltip" data-placement="left" title="Costa Rica">
                  <a href="#" class="nav-link p-2">
                    CRI
                  </a>
              </li>
              <li class="nav-item text-center p-0" data-toggle="tooltip" data-placement="left" title="Canada">
                  <a href="#" class="nav-link p-2">
                    CAN
                  </a>
              </li>
              <li class="nav-item text-center p-0" data-toggle="tooltip" data-placement="left" title="United States">
                  <a href="#" class="nav-link p-2">
                    USA
                  </a>
              </li>
              <li class="nav-item text-center p-0" data-toggle="tooltip" data-placement="left" title="All radios from America">
                  <a href="#" class="nav-link p-2">
                    ...
                  </a>
              </li>
          </ul>        
      </div>      
  </div>
}

@section headerLeftNavItems 
{
    <li class="nav-item">
      <a class="nav-link" asp-controller="radios" asp-action="index">
        <span class="text-uppercase">Radios</span>
      </a>
    </li>
}

<div class="outer">
  <div class="middle">
    <div class="inner">
      <h1 class="text-danger">Coming soon...</h1>
      <p>Still under construction, come back later :)</p>
    </div>
  </div>
</div>

@section scripts
{
  <script>

    $('[data-toggle="tooltip"]').tooltip
    ({
      html: true
    });

  </script>
}