@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<!-- Content Header (Page header) -->
<section class="content-header">

</section>

<!-- Main content -->
<section class="content">
    <div class="error-page">
        <h2 class="headline text-danger">403</h2>

        <div class="error-content">
            <br/>

            <h3><i class="fas fa-exclamation-triangle text-danger"></i> You do not have access.</h3>

            <p>
                Check your credentials and try again later.
            </p>

        </div>
    </div>
    <!-- /.error-page -->

</section>
<!-- /.content -->

@*<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">You do not have access to this resource.</p>
</header>*@
