@model PersonalBlog.Models.Doctor

@section head {
  <STYLE type="text/css">
    /* Any css you want to add */
  </STYLE>
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
    <div class="row mb-2">
        <div class="col-sm-6">
        <h1>Doctor add</h1>
        </div>
        <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Doctor add</li>
        </ol>
        </div>
    </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-6">
            <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">General</h3>
            </div>
            <div class="card-body">
                <form class="form-horizontal" asp-controller="Doctors" asp-action="CreateDoctor" method="post">
                    <div class="form-group">
                    <label for="inputName">Name</label>
                    <input type="text" name="Name" class="form-control" asp-for="Name">
                    </div>
                    <div class="form-group">
                    <label for="inputEmail">Email</label>
                    <input type="text" name="Email" class="form-control" asp-for="Email">
                    </div>
                    <div class="form-group">
                    <label for="inputPassword">Password</label>
                    <input type="text" name="Password" class="form-control" asp-for="Password">
                    </div>
                    <div class="form-group">
                    <label for="inputPhone">Phone</label>
                    <input type="text" name="Phone" class="form-control" asp-for="Phone">
                    </div>
                    <div class="form-group">
                    <label for="inputGender">Gender</label>
                        <select name="Gender" class="form-control custom-select" asp-for="Gender">
                        <option selected disabled>Select one</option>
                        <option value="0">Male</option>
                        <option value="1">Female</option>
                        </select>
                    </div>
                    <div class="form-group">
                    <label for="inputSpecialist">Specialist</label>
                    <input type="text" name="Specialist" class="form-control" asp-for="Specialist">
                    </div>
                    <div>
                        <a class="btn btn-secondary" asp-controller="Doctors" asp-action="Index">Cancel</a>
                        <input type="submit" value="Create new doctor" class="btn btn-success float-right">
                    </div>
                </form>
            </div>
            <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
</section>
<!-- /.content -->

