@page "{id?}"
@namespace PersonalBlog.Areas.Identity.Pages.Account.Manage.Experiences
@using PersonalBlog.Models
@model EditModel
@{
    ViewData["Title"] = (@Model.Id.HasValue) ? "Edit experience" : "Create experience";
    ViewData["ActivePage"] = ManageNavPages.Experiences;
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="create-mission-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Date"></label>
                <input asp-for="Input.Date" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Input.Title"></label>
                <input asp-for="Input.Title" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Input.Description"></label>
                <input asp-for="Input.Description" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Input.Sector">Sector</label>
                <select name="Input.Sector" class="form-control custom-select" asp-for="Input.Sector" asp-items="Html.GetEnumSelectList<EnumSector>()">
                    <option selected="selected" value="">Please select</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Input.CompanyId">Company</label>
                <select name="Input.CompanyId" class="form-control custom-select" asp-for="Input.CompanyId" asp-items="Model.Companies">
                    <option>Please select one</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Input.DatabaseId">Database</label>
                <select name="Input.DatabaseId" class="form-control custom-select" asp-for="Input.DatabaseId" asp-items="Model.Databases">
                    <option>Please select one</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Input.SelectedKeywordIds">Keywords</label>
                <select multiple="multiple" name="Input.SelectedKeywordIds" class="form-control custom-select" asp-for="Input.SelectedKeywordIds" asp-items="Model.Keywords">
                </select>
            </div>
            <button id="update-profile-button" type="submit" class="btn btn-primary">Save</button>
            <a class="" asp-page="Index">Back to list</a>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>


        // ┌─────────────────────┐
        // │ Select2 --> Company │
        // └─────────────────────┘

        $("#Input_CompanyId").select2({
            tags: true,
            tokenSeparators: [",", " "],
            createTag: function (tag) { return { id: 99, text: tag.term }; }
        }).on('select2:select', function (evt) {
            if (evt.params.data.id == 99)
            {
                $.ajax({
                    type: 'POST',
                    cache: false,
                    url: 'Mission?handler=CompanyTag',
                    beforeSend: function (xhr) { xhr.setRequestHeader("XSRF-TOKEN", $('input:hidden[name="__RequestVerificationToken"]').val()); },
                    data: JSON.stringify({ id: evt.params.data.id, text: evt.params.data.text }),
                    contentType: "application/json",
                    dataType: "json",
                    error: function (result) { alert("Error"); },
                    success: function (data) { var opt = $('#Input_CompanyId > option[value=99]')[0]; opt.value = data.id; }
                });
            }
        });

        // ┌──────────────────────┐
        // │ Select2 --> Database │
        // └──────────────────────┘

        $("#Input_DatabaseId").select2({
            tags: true,
            tokenSeparators: [",", " "],
            createTag: function (tag) { return { id: 99, text: tag.term }; }
        }).on('select2:select', function (evt) {
            if (evt.params.data.id == 99)
            {
                $.ajax({
                    type: 'POST',
                    cache: false,
                    url: 'Mission?handler=DatabaseTag',
                    beforeSend: function (xhr) { xhr.setRequestHeader("XSRF-TOKEN", $('input:hidden[name="__RequestVerificationToken"]').val()); },
                    data: JSON.stringify({ id: evt.params.data.id, text: evt.params.data.text }),
                    contentType: "application/json",
                    dataType: "json",
                    error: function (result) { alert("Error"); },
                    success: function (data) { var opt = $('#Input_DatabaseId > option[value=99]')[0]; opt.value = data.id; }
                });
            }
        });

        // ┌──────────────────────┐
        // │ Select2 --> Keywords │
        // └──────────────────────┘

        $("#Input_SelectedKeywordIds").select2({
            tags: true,
            tokenSeparators: [",", " "],
            createTag: function (tag) { return { id: 99, text: tag.term }; }
        }).on('select2:select', function (evt) {
            if (evt.params.data.id == 99)
            {
                $.ajax({
                    type: 'POST',
                    cache: false,
                    url: 'Mission?handler=KeywordTag',
                    beforeSend: function (xhr) { xhr.setRequestHeader("XSRF-TOKEN", $('input:hidden[name="__RequestVerificationToken"]').val()); },
                    data: JSON.stringify({ id: evt.params.data.id, text: evt.params.data.text }),
                    contentType: "application/json",
                    dataType: "json",
                    error: function (result) { alert("Error"); },
                    success: function (data) { var opt = $('#Input_SelectedKeywordIds > option[value=99]')[0]; opt.value = data.id; }
                });
            }
        });

    </script>
}

