.delete {
    color: crimson;
    float: right;
}

a.noline {
    text-decoration: none;
}

#Post_Edit {
    padding-bottom: 2em;
}
#Post_Edit.label {
    display: inline-block;
    margin-right: .3em;
    font-weight: bold;
    min-width: 50px;
}

 #Post_Edit input {
    font: inherit;
}

 #Post_Edit input[type=text] {
    border-radius: 3px;
    border: 1px solid #bbb;
    padding: 4px 10px;
    width: 100%;
}

#Post_Edit .select2 {
    width: 100% !important;
}

 #Post_Edit input[type=submit] {
    padding: 0 10px;
}
 

 #Post_Edit input + span,
 #Post_Edit textarea + span {
    display: block;
    font-size: .9em,;
    color: #888;
}

 #Post_Edit textarea {
    font: inherit;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid #bbb;
    padding: 5px;
    width: 100%;
}

 #Post_Edit .delete {
    border: 0;
    background: none;
    cursor: pointer;
}

#Post_Edit .validation-summary-errors {
    background: #ffe6e6;
    color: darkred;
    padding: 5px;
    border-radius: 5px;
}
