.user-block .categories {
    float: left;
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 5px;
}
.user-block .categories ul {
    list-style: none;
    display: inline;
    padding: 0;
}

.user-block .categories ul li {
    display: inline-block;
}

.user-block .description {
    margin-top: 3px !important;
}

.main-header {
    background-color: #f4f6f9;
    border-bottom: none !important;
}

nav.navbar-light .search-form input[type=search] {
    background-color: white;
    border-bottom: 1px solid gainsboro;
    border-left: 1px solid gainsboro;
    border-top: 1px solid gainsboro;
}

nav.navbar-light .search-form .input-group-append{
    border-bottom: 1px solid gainsboro;
    border-top: 1px solid gainsboro;
    border-right: 1px solid gainsboro;
    border-top-right-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
}

nav.navbar-light .search-form .btn-navbar {
    background-color: #ffffff;
}

.sidebar {
    height: calc(100% - 2.8rem) !important;
}

a[href="/"].active {
    border-color: #ffffff !important;
}

a[href^="/Blog"].active {
    border-color: #007bff !important;
}

a[href^="/Courses"].active {
    border-color: #17a2b8 !important;
}

a[href^="/Books"].active {
    border-color: #ffc107 !important;
} 

a[href^="/Radios"].active {
    border-color: #dc3545 !important;
} 

a[href^="/Games"].active {
    border-color: #28a745 !important;
}

a[href^="/Users"].active {
    border-color: #6c757d !important;
}

a[href^="/Admin"].active {
    border-color: #ffffff !important;
} 

.mce-tinymce.mce-fullscreen{
    z-index: 9999;
}

.full-screen-mode {   
    position: fixed !important; 
    top: 0; 
    left: 0; 
    z-index: 9999;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 5%;
}

.select2-container--focus {
    color: #495057;
    background-color: #ffffff;
    border-color: #80bdff;
    border-width: 1px;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.card .role-admin-color
{
    background-color: rgba(214,13,13,0.1);
}

.card .role-author-color
{
    background-color: rgba(255,238,145,0.1);
}

.card .role-visitor-color
{
    background-color: rgb(130,129,126,0.1);
}