body {
    display: none;
}
.user-block .categories {
    float: left;
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 5px;
}
.user-block .categories ul {
    list-style: none;
    display: inline;
    padding: 0;
}

.user-block .categories ul li {
    display: inline-block;
}

.user-block .description {
    margin-top: 3px !important;
}

/* .main-header {
    background-color: #f4f6f9;
    border-bottom: none !important;
} */

nav.navbar-light .search-form input[type=search] {
    background-color: white;
    border-bottom: 1px solid gainsboro;
    border-left: 1px solid gainsboro;
    border-top: 1px solid gainsboro;
}

nav.navbar-light .search-form .input-group-append{
    border-bottom: 1px solid gainsboro;
    border-top: 1px solid gainsboro;
    border-right: 1px solid gainsboro;
    border-top-right-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
}

nav.navbar-light .search-form .btn-navbar {
    background-color: #ffffff;
}

.sidebar {
    height: calc(100% - 2.8rem) !important;
}

a[href="/"].active {
    border-color: #ffffff !important;
}

a[href^="/Blog"].active {
    border-color: #007bff !important;
}

a[href^="/Courses"].active {
    border-color: #17a2b8 !important;
}

a[href^="/Books"].active {
    border-color: #ffc107 !important;
} 

a[href^="/Radios"].active {
    border-color: #dc3545 !important;
} 

a[href^="/Quiz"].active {
    border-color: #8b70bd !important;
}

a[href^="/Users"].active {
    border-color: #6c757d !important;
}

a[href^="/Admin"].active {
    border-color: #ffffff !important;
} 

.mce-tinymce.mce-fullscreen {
    z-index: 9999;
}

.full-screen-mode {   
    position: fixed !important; 
    top: 0; 
    left: 0; 
    z-index: 9999;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 5%;
}

.select2-container--focus {
    color: #495057;
    background-color: #ffffff;
    border-color: #80bdff;
    border-width: 1px;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.user-profile .card-header
{
    margin-bottom: 0.75rem;
    padding: 0.75rem 1.25rem;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 0 solid rgba(0, 0, 0, 0.125);
}

.card-blog-post.card
{
    margin-bottom: 0rem;
    border-radius: 0rem;
    background-color: transparent;
    box-shadow: 0 0;
}

.card-blog-post .card-header
{
    border-bottom: 0px;
}

.text-mauve
{
    color: #8b70bd !important;
}

.badge-mauve {
    color: #ffffff;
    background-color: #8b70bd;
}

.bg-mauve
{
    background-color: #8b70bd !important;
}

.bg-grey
{
    background-color: #272c30 !important;
}

@media (min-width: 768px)
{
    body:not(.sidebar-mini-md) .content-wrapper, 
    body:not(.sidebar-mini-md) .main-footer, 
    body:not(.sidebar-mini-md) .main-header {
        margin-right: 300px;
    }

    body.control-sidebar-mini .content-wrapper, 
    body.control-sidebar-mini .main-footer, 
    body.control-sidebar-mini .main-header {
        margin-right: 4.6rem;
    }
}

.control-sidebar .border-mauve {
    border-color: #8b70bd !important;
}

.control-sidebar .border-light-grey {
    border-color: #444c54 !important;
}

.control-sidebar .border-xl {
    border-width: 7px;
    border-style: solid;
}

.control-sidebar
{
    /* display: none !important; */
    background-color: #272c30 !important;
    z-index: 1100 !important;
    width: 300px !important;
}

.control-sidebar, .control-sidebar::before {
    bottom: 0px;
    right: -300px;
    width: 300px;
}

body.control-sidebar-mini .control-sidebar, 
body.control-sidebar-mini .control-sidebar::before {
    width: 4.6rem !important;
}

body.control-sidebar-mini .maxi {
    display: none;
}

body.control-sidebar-maxi .mini {
    display: none;
}

body.control-sidebar-maxi.control-sidebar-open.control-sidebar-push .content-wrapper, 
body.control-sidebar-maxi.control-sidebar-open.control-sidebar-push .main-footer, 
body.control-sidebar-maxi.control-sidebar-open.control-sidebar-push-slide .content-wrapper, 
body.control-sidebar-maxi.control-sidebar-open.control-sidebar-push-slide .main-footer {
    margin-right: 300px !important;
}

body.control-sidebar-mini.control-sidebar-open.control-sidebar-push .content-wrapper, 
body.control-sidebar-mini.control-sidebar-open.control-sidebar-push .main-footer, 
body.control-sidebar-mini.control-sidebar-open.control-sidebar-push-slide .content-wrapper, 
body.control-sidebar-mini.control-sidebar-open.control-sidebar-push-slide .main-footer {
    margin-right: 4.6rem !important;
}

.control-sidebar ul
{
    list-style: none;
    padding-left: 0px;
    margin-bottom: 0px;
}

.control-sidebar ul li
{
    padding: 20px 0;
    border-top: 1px solid transparent;
    border-bottom: 1px solid #444c54;
}

.control-sidebar .bullet
{
    height: 7px;
    width: 7px;
    background-color: white;
    border-radius: 50%;
    margin-top: 10px;
}

.h-70
{
    height: 70px;
}

.user-block .title {
    font-size: 20px;
    font-weight: normal;
    margin-left: 5px;
}

.sidebar .nav-legacy.nav-sidebar > .nav-item > .nav-link.active {
    border-left: 7px solid transparent;
}

.sidebar .nav-legacy.nav-sidebar > .nav-item > .nav-link.active > .nav-icon {
    margin-left: -7px;
}

.sidebar-mini.sidebar-collapse .sidebar .nav-legacy > .nav-item .nav-link.active > .nav-icon, 
.sidebar-mini-md.sidebar-collapse .sidebar .nav-legacy > .nav-item .nav-link.active > .nav-icon {
    margin-left: 0.1rem;
}

.sidebar-mini .tooltip-inner {
    margin-right: -25px;
    height: 59px;
    line-height: 56px;
    padding: 0px 0px 0px 20px;
    background-color: #2b3034;
    border-radius: 0rem;
    border-left: 1px solid #444c54;
    border-top: 1px solid #444c54;
    border-bottom: 1px solid #444c54;
    box-shadow: -5px 0 5px -7px #000, 0 -5px 5px -7px #000, 0 5px 5px -7px #000;
}
.sidebar-mini .tooltip.show {
    opacity: 1;
    z-index: 9999;
    margin-top: -1px;
}

.tooltip .arrow  {
    display: none !important;
}

.sidebar-mini .control-sidebar .nav-item:hover > .nav-link, 
.sidebar-mini .control-sidebar .nav-item > .nav-link:focus {
    background-color: #2b3034;
    color: #ffffff;
}

.main-sidebar[class*='sidebar-dark-'] .nav-sidebar > .nav-item.menu-open > .nav-link, 
.main-sidebar[class*='sidebar-dark-'] .nav-sidebar > .nav-item:hover > .nav-link, 
.main-sidebar[class*='sidebar-dark-'] .nav-sidebar > .nav-item > .nav-link:focus {
    background-color: #2b3034;
    color: #ffffff;
}

.main-sidebar[class*='sidebar-dark-'] {
    background-color: #272c30;
}