/*
 * Skin: Midnight Dark theme
 * ------------
 */
.skin-midnight {
  color: #bec5cb;
  background-color: #353c42;
}
.skin-midnight h4 {
  color: #44def1;
}
.skin-midnight .content-header > .breadcrumb > li > a {
  color: #bec5cb;
}
.skin-midnight .table > thead > tr > th,
.skin-midnight .table > tbody > tr > th,
.skin-midnight .table > tfoot > tr > th,
.skin-midnight .table > thead > tr > td,
.skin-midnight .table > tbody > tr > td,
.skin-midnight .table > tfoot > tr > td {
  color: #bec5cb;
  border-top: 0px;
}
.skin-midnight .table > thead > tr.odd,
.skin-midnight .table > tbody > tr.odd,
.skin-midnight .table > tfoot > tr.odd {
  background-color: #2a2f34;
}
.skin-midnight .table > thead > tr.odd:hover,
.skin-midnight .table > tbody > tr.odd:hover,
.skin-midnight .table > tfoot > tr.odd:hover,
.skin-midnight .table > thead > tr.even:hover,
.skin-midnight .table > tbody > tr.even:hover,
.skin-midnight .table > tfoot > tr.even:hover {
  background-color: #1e2226;
}
.skin-midnight .table-bordered > thead > tr > th,
.skin-midnight .table-bordered > tbody > tr > th,
.skin-midnight .table-bordered > tfoot > tr > th,
.skin-midnight .table-bordered > thead > tr > td,
.skin-midnight .table-bordered > tbody > tr > td,
.skin-midnight .table-bordered > tfoot > tr > td {
  border: 1px solid #353c42;
}
.skin-midnight .dataTables_wrapper input[type='search'] {
  border-radius: 4px;
  background-color: #353c42;
  border: 0;
  color: #bec5cb;
}
.skin-midnight .dataTables_paginate .pagination li > a {
  background-color: transparent !important;
  border: 0;
}
.skin-midnight .wrapper,
.skin-midnight .main-sidebar,
.skin-midnight .left-side {
  background-color: #272c30;
}
.skin-midnight .user-panel > .info,
.skin-midnight .user-panel > .info > a {
  color: #fff;
}
.skin-midnight .sidebar-menu > li.header {
  color: #556068;
  background: #1e2225;
}
.skin-midnight .sidebar-menu > li > a {
  border-left: 3px solid transparent;
}
.skin-midnight .sidebar-menu > li:hover > a,
.skin-midnight .sidebar-menu > li.active > a {
  color: #ffffff;
  background: #22272a;
  border-left-color: #272c30;
}
.skin-midnight .sidebar-menu > li > .treeview-menu {
  margin: 0 1px;
  background: #32393e;
}
.skin-midnight .sidebar a {
  color: #bec5cb;
}
.skin-midnight .sidebar a:hover {
  text-decoration: none;
}
.skin-midnight .treeview-menu > li > a {
  color: #949fa8;
}
.skin-midnight .treeview-menu > li.active > a,
.skin-midnight .treeview-menu > li > a:hover {
  color: #ffffff;
}
.skin-midnight .sidebar-form {
  border-radius: 3px;
  border: 1px solid #3e464c;
  margin: 10px 10px;
}
.skin-midnight .sidebar-form input[type="text"],
.skin-midnight .sidebar-form .btn {
  box-shadow: none;
  background-color: #3e464c;
  border: 1px solid transparent;
  height: 35px;
}
.skin-midnight .sidebar-form input[type="text"] {
  color: #666;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
}
.skin-midnight .sidebar-form input[type="text"]:focus,
.skin-midnight .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  background-color: #fff;
  color: #666;
}
.skin-midnight .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  border-left-color: #fff;
}
.skin-midnight .sidebar-form .btn {
  color: #999;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
}
.skin-midnight .box,
.skin-midnight .box-footer,
.skin-midnight .info-box,
.skin-midnight .box-comment,
.skin-midnight .comment-text,
.skin-midnight .comment-text .username {
  color: #bec5cb;
  background-color: rgba(0, 0, 0, 0.03);
}
.skin-midnight .box-comments .box-comment {
  border-bottom-color: #353c42;
}
.skin-midnight .box-footer {
  border-top: 1px solid #353c42;
}
.skin-midnight .box-header.with-border {
  border-bottom: 1px solid #353c42;
}
.skin-midnight .box-solid,
.skin-midnight .box {
  border: 1px solid #272c30;
}
.skin-midnight .box-solid > .box-header,
.skin-midnight .box > .box-header {
  color: #bec5cb;
  background: #272c30;
  background-color: #272c30;
}
.skin-midnight .box-solid > .box-header a,
.skin-midnight .box > .box-header a,
.skin-midnight .box-solid > .box-header .btn,
.skin-midnight .box > .box-header .btn {
  color: #bec5cb;
}
.skin-midnight .box.box-info,
.skin-midnight .box.box-primary,
.skin-midnight .box.box-success,
.skin-midnight .box.box-warning,
.skin-midnight .box.box-danger {
  border-top-width: 3px;
}
.skin-midnight .box.box-info {
  border-top-color: #00c0ef;
}
.skin-midnight .box.box-primary {
  border-top-color: #075383;
}
.skin-midnight .box.box-success {
  border-top-color: #00a65a;
}
.skin-midnight .box.box-warning {
  border-top-color: #ff851b;
}
.skin-midnight .box.box-danger {
  border-top-color: #dd4b39;
}
.skin-midnight .main-header {
  background-color: #353c42;
}
.skin-midnight .main-header.navbar {
  background-color: #272c30;
  border-bottom: 1px solid #4b545c;
}
.skin-midnight .main-header.navbar .nav > li > a {
  color: #bec5cb;
}
.skin-midnight .main-header.navbar .nav > li > a:hover,
.skin-midnight .main-header.navbar .nav > li > a:active,
.skin-midnight .main-header.navbar .nav > li > a:focus,
.skin-midnight .main-header.navbar .nav .open > a,
.skin-midnight .main-header.navbar .nav .open > a:hover,
.skin-midnight .main-header.navbar .nav .open > a:focus,
.skin-midnight .main-header.navbar .nav > .active > a {
  background: rgba(0, 0, 0, 0.1);
  color: #f6f6f6;
}
.skin-midnight .main-header.navbar .sidebar-toggle {
  color: #bec5cb;
}
.skin-midnight .main-header.navbar .sidebar-toggle:hover {
  color: #f6f6f6;
  background: rgba(0, 0, 0, 0.1);
}
.skin-midnight .timeline li .timeline-item {
  color: #bec5cb;
  background-color: #272c30;
  border-color: #353c42;
}
.skin-midnight .timeline li .timeline-header {
  border-bottom-color: #353c42;
}
.skin-midnight .nav-stacked > li > a {
  color: #bec5cb;
}
.skin-midnight .nav-stacked > li > a:hover {
  color: white;
  background-color: #1e2226;
}
.skin-midnight .content-wrapper,
.skin-midnight .right-side,
.skin-midnight .login-page {
  background-color: #353c42;
}
.skin-midnight .main-footer,
.skin-midnight .nav-tabs-custom {
  background-color: #272c30;
  border-top-color: #353c42;
  color: #bec5cb;
}
.skin-midnight .main-footer .nav-tabs,
.skin-midnight .nav-tabs-custom .nav-tabs {
  border-bottom-color: #353c42;
}
.skin-midnight .main-footer .tab-content,
.skin-midnight .nav-tabs-custom .tab-content {
  background-color: #272c30;
}
.skin-midnight .nav-tabs-custom > .nav-tabs > li.active > a {
  border-left-color: #353c42;
  border-right-color: #353c42;
}
.skin-midnight .nav-tabs-custom > .nav-tabs.pull-right > li:first-of-type.active > a {
  border-left-color: #353c42;
}
.skin-midnight .nav-tabs-custom > .nav-tabs > li {
  color: #bec5cb;
}
.skin-midnight .nav-tabs-custom > .nav-tabs > li.active > a {
  background-color: #272c30;
}
.skin-midnight .nav-tabs-custom > .nav-tabs > li > a {
  color: #bec5cb;
}
.skin-midnight .form-group .input-group-addon,
.skin-midnight .input-group .input-group-addon,
.skin-midnight .form-group input,
.skin-midnight .input-group input,
.skin-midnight .login-card-body .input-group .input-group-text,
.skin-midnight .input-group-text,
.skin-midnight .form-group textarea,
.skin-midnight .input-group textarea {
  background-color: #353c42;
  color: #bec5cb;
  border: 1px solid #353c42;
}
.skin-midnight .form-control:focus {
  border-color: #80bdff;
}
.skin-midnight .list-group {
  color: #bec5cb;
  background-color: #272c30;
}
.skin-midnight .list-group .list-group-item {
  border-color: #353c42;
  background-color: #272c30;
}
.skin-midnight .input-group .input-group-addon {
  border-right: 1px solid #272c30;
}
.skin-midnight .form-control {
  border-color: #272c30;
  background-color: #353c42;
}
.skin-midnight .select2 .select2-selection {
  background-color: #353c42;
  color: #bec5cb;
  border: 1px solid #353c42;
}
.skin-midnight .select2 .select2-selection .select2-container--default,
.skin-midnight .select2 .select2-selection .select2-selection--single,
.skin-midnight .select2 .select2-selection .select2-selection--multiple,
.skin-midnight .select2 .select2-selection .select2-selection__rendered {
  color: #bec5cb;
}
.skin-midnight .select2-dropdown {
  background-color: #353c42;
  color: #bec5cb;
  border: 1px solid #353c42;
}
.skin-midnight .select2-dropdown .select2-search__field {
  background-color: #272c30;
  color: #bec5cb;
  border: 1px solid #353c42;
}
.skin-midnight .select2-container--default.select2-container--open {
  background-color: #272c30;
}

.skin-midnight .card,
.skin-midnight .card .login-card-body {
  background-color: rgba(0, 0, 0, 0.03);
}
.skin-midnight .card-blog-post.card
{
  background-color: #333a40;
}
.skin-midnight .card-header {
  border-bottom: 1px solid rgba(55, 55, 55, 0.125);
}
.card-primary.card-outline {
  border-top-color: 3px solid rgba(0,123,255,0.2);
}
.card .nav.flex-column > li {
  border-color: transparent;
}
.skin-midnight .navbar-light .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.6);
}
.skin-midnight .navbar-light .navbar-nav .nav-link:hover, 
.skin-midnight .navbar-light .navbar-nav .nav-link:focus {
  color: rgba(255, 255, 255, 0.7);
}
.skin-midnight nav.navbar-light .search-form input[type=search] {
  background-color: rgba(92, 98, 103,1);
  border-color: rgba(135, 135, 135,0.4);
}
.skin-midnight .navbar-light .form-control-navbar + .input-group-append > .btn-navbar {
  color: rgba(0, 0, 0, 0.6);
}
.skin-midnight nav.navbar-light .search-form .input-group-append
{
  border-color: rgba(135, 135, 135,0.4);
}
.skin-midnight .navbar-light .form-control-navbar:focus + .input-group-append .btn-navbar {
  background-color: rgb(92, 98, 103);
  color: #343a40;
}
.skin-midnight nav.navbar-light .search-form .btn-navbar {
  background-color: rgb(92, 98, 103);
}
.skin-midnight *::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.7) !important;
}
.skin-midnight *:-moz-placeholder {
  /* FF 4-18 */
  color: rgba(255, 255, 255, 0.7) !important;
  opacity: 1;
}
.skin-midnight *::-moz-placeholder {
  /* FF 19+ */
  color: rgba(255, 255, 255, 0.7) !important;
  opacity: 1;
}
.skin-midnight *:-ms-input-placeholder {
  /* IE 10+ */
  color: rgba(255, 255, 255, 0.7) !important;
}
.skin-midnight *::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgba(255, 255, 255, 0.7) !important;
}
.skin-midnight *::placeholder {
  /* modern browser */
  color: rgba(255, 255, 255, 0.7) !important;
}
.skin-midnight .input-group-append .btn-navbar {
  color: rgba(255, 255, 255, 0.7) !important;
}
.skin-midnight .bg-primary {
  background-color: rgba(0,123,255,0.5) !important;
  color: rgba(214, 214, 214,1) !important;
}
.skin-midnight .bg-secondary {
  background-color: rgba(79, 87, 95,1) !important;
  color: rgba(214, 214, 214,1) !important;
}
.skin-midnight .btn-primary {
  color: #ffffff;
  background-color: rgb(0, 94, 195);
  border-color: rgb(0, 94, 195);
  box-shadow: none;
}
.skin-midnight .btn-primary:active {
  background-color: rgba(0,123,255,0.2);
  border-color: rgba(0,123,255,0.2);
  color: rgba(255,255,255,0.5);
}
.skin-midnight .btn-primary:hover {
  background-color: rgb(0, 78, 255);
  border-color: rgb(0, 78, 255);
  color: rgba(255,255,255,1);
}
.skin-midnight .btn-primary:not(:disabled):not(.disabled):active, 
.skin-midnight .btn-primary:not(:disabled):not(.disabled).active {
  color: #ffffff;
  background-color: rgba(0,123,255,0.3);
  border-color: rgba(0,123,255,0.3);
}
.skin-midnight .bg-light,
.skin-midnight .bg-white {
  background-color: #272c30 !important;
}
.skin-midnight .btn-default {
  background-color: rgba(248,249,250,0.2);
  border-color: rgba(248,249,250,0.2);
  color: rgba(255,255,255,0.5);
}
.skin-midnight .btn-default:hover {
  background-color: rgba(248,249,250,0.3);
  border-color: rgba(248,249,250,0.3);
  color: rgba(255,255,255,0.6);
}
.skin-midnight .text-dark {
  color: #bec5cb !important;
}
.skin-midnight .text-dark:hover, 
.skin-midnight .text-dark:focus {
  color: rgb(255, 255, 255) !important;
}
.skin-midnight .text-primary {
  color: rgba(0,123,255,0.7) !important;
}
.skin-midnight .sidebar-dark-primary .nav-sidebar.nav-legacy > .nav-item > .nav-link.active, 
.skin-midnight .sidebar-light-primary .nav-sidebar.nav-legacy > .nav-item > .nav-link.active {
  border-color: rgba(0,123,255,0.5);
}
.skin-midnight .badge-outline {
  color: #909090;
}
.skin-midnight .badge-primary {
  color: rgba(214, 212, 212, 1);
  background-color: rgba(0,123,255,0.5);
}
.skin-midnight .btn-tool {
  background: transparent;
  color: #adb5bd;
}
.skin-midnight .btn-tool:hover {
  background: transparent;
  color: #ced7e0;
}
.skin-midnight .btn-danger {
  color: #ffffff;
  background-color: #af2936;
  border-color: #af2936;
  box-shadow: none;
}
.skin-midnight .btn-danger:active {
  color: #ffffff;
  background-color: #af2936;
  border-color: #af2936;
  box-shadow: none;
}
.skin-midnight .btn-danger:hover {
  background-color: #c82333;
  border-color: #c82333;
  color: rgba(255,255,255,1);
}
/* .skin-midnight a {
  color: rgba(0,123,255,0.7);
} */
.skin-midnight a:hover {
  color: #0153ab;
}
.skin-midnight .login-logo a {
  color: #bec5cb;
}
/* .skin-midnight a.btn {
  color: rgba(255,255,255,1);
} */
.skin-midnight .login-card-body, 
.skin-midnight .register-card-body {
  color: #bec5cb;
}
.skin-midnight .card-comments,
.skin-midnight .comment-text,
.skin-midnight .comment-text .username {
  background: transparent;
}
.skin-midnight .card-comments .card-comment {
  border-bottom: 1px solid #3c444a;
}
.skin-midnight .form-control,
.skin-midnight .form-control:focus {
  color: #b7c3d0;
  background-color: #363d42;
}
.skin-midnight .dropdown-menu {
  background-color: #353c42;
}
.skin-midnight .dropdown-divider {
  border-color: #434b52;
}
.skin-midnight .dropdown-item:hover, 
.skin-midnight .dropdown-item:focus {
  color: #a8b2bb;
  background-color: #373e44;
}
.skin-midnight a.dropdown-item {
  color: #a8b2bb;
}

/* .skin-midnight p,
.skin-midnight span,
.skin-midnight h1,
.skin-midnight h2,
.skin-midnight h3,
.skin-midnight h4,
.skin-midnight h5 {
  color: #b9b8b8;
} */

.skin-midnight a.btn-outline-dark {
  color: #b9b8b8;
}

.skin-midnight a.btn-outline-dark:hover {
  color: white;
}

.skin-midnight .progress {
  background-color: #2b3135;
}

.skin-midnight .ucard {
  background: linear-gradient(#272c30, #272c30);
} 