@import url('https://fonts.googleapis.com/css?family=Abel');

html, body {
  background: #FCEEB5;
  font-family: Abel, Arial, Verdana, sans-serif;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
}

.ucard {
  width: 500px;
  height: 250px;
  background-color: #fff;
  background: linear-gradient(#f8f8f8, #fff);
  /* box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4); */
  /* border-radius: 6px; */
  overflow: hidden;
  position: relative;
  /* margin: 20px auto; */
  margin-top: 0;
  border-bottom: 0.5px solid gainsboro;
}

.ucard h1 {
  text-align: center;
}

.ucard .additional {
  position: absolute;
  width: 150px;
  height: 100%;
  background: linear-gradient(#EE786E, #EE786E);
  transition: width 0.4s;
  overflow: hidden;
  z-index: 2;
}

.level1-color {
  background-color: #ffbaba;
  color: black;
}

.level2-color {
    background-color: #fda4a4;
    color: black;
}

.level3-color {
  background-color: #fb8f8f;
  color: black;
}

.level4-color {
  background-color: #fa7d7d;
  color: black;
}

.level5-color {
  background-color: #fa6c6c;
  color: black;
}

.level6-color {
  background-color: #f95f5f;
  color: black;
}

.level7-color {
  background-color: #fa5151;
  color: black;
}

.ucard.level1 .additional {
  background: linear-gradient(#ffbaba, #ffbaba);
}

.ucard.level2 .additional {
    background: linear-gradient(#fda4a4, #fda4a4);
}

.ucard.level3 .additional {
  background: linear-gradient(#fb8f8f, #fb8f8f);
}

.ucard.level4 .additional {
  background: linear-gradient(#fa7d7d, #fa7d7d);
}

.ucard.level5 .additional {
  background: linear-gradient(#fa6c6c, #fa6c6c);
}

.ucard.level6 .additional {
  background: linear-gradient(#f95f5f, #f95f5f);
}

.ucard.level7 .additional {
  background: linear-gradient(#fa5151, #fa5151);
}

.ucard:hover .additional {
  width: 100%;
  /* border-radius: 0 5px 5px 0; */
}

.ucard .additional .user-card {
  width: 150px;
  height: 100%;
  position: relative;
  float: left;
}

.ucard .additional .user-card::after {
  content: "";
  display: block;
  position: absolute;
  top: 10%;
  right: -2px;
  height: 80%;
  border-left: 2px solid rgba(0,0,0,0.025);
}

.ucard .additional .user-card .level,
.ucard .additional .user-card .points {
  top: 15%;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.75em;
  font-weight: bold;
  background: rgba(0,0,0,0.15);
  padding: 0.125rem 0.75rem;
  border-radius: 100px;
  white-space: nowrap;
}

.ucard .additional .user-card .points {
  top: 85%;
}

.ucard .additional .user-card svg {
  top: 50%;
}

.ucard .additional .more-info {
  width: 350px;
  float: left;
  position: absolute;
  left: 150px;
  height: 100%;
}

.ucard .additional .more-info h1 {
  color: #fff;
  margin-bottom: 0;
  margin-top: 20px;
}

.ucard.level1 .additional .more-info h1 {
  color: #b57070;
}

.ucard.level2 .additional .more-info h1 {
    color: #ca6e6e;
}

.ucard.level3 .additional .more-info h1 {
  color: #b35656;
}

.ucard.level4 .additional .more-info h1 {
  color: #b54747;
}

.ucard.level5 .additional .more-info h1 {
  color: #af4040;
}

.ucard.level6 .additional .more-info h1 {
  color: #a23737;
}

.ucard.level7 .additional .more-info h1 {
  color: #a72323;
}

.ucard .additional .coords {
  margin: 0 1rem;
  color: #fff;
  font-size: 1rem;
}

@media (max-width:999px) {
  .ucard .general,
  .ucard .additional .coords {
    font-size: 1.2rem;
  } 
}

.ucard.level1 .additional .coords {
  color: #b57070;
}

.ucard.level2 .additional .coords {
    color: #ca6e6e;
}

.ucard.level3 .additional .coords {
  color: #b35656;
}

.ucard.level4 .additional .coords {
  color: #b54747;
}

.ucard.level5 .additional .coords {
  color: #af4040;
}

.ucard.level6 .additional .coords {
  color: #a23737;
}

.ucard.level7 .additional .coords {
  color: #a72323;
}

.ucard .additional .coords span + span {
  float: right;
}

.ucard .additional .stats {
  font-size: 2rem;
  display: flex;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  top: auto;
  color: #fff;
}

.ucard.level1 .additional .stats {
  color: #b57070;
}

.ucard.level2 .additional .stats {
    color: #ca6e6e;
}

.ucard.level3 .additional .stats {
    color: #b35656;
}

.ucard.level4 .additional .stats {
  color: #b54747;
}

.ucard.level5 .additional .stats {
  color: #af4040;
}

.ucard.level6 .additional .stats {
  color: #a23737;
}

.ucard.level7 .additional .stats {
  color: #a72323;
}

.ucard .additional .stats > div {
  flex: 1;
  text-align: center;
}

.ucard .additional .stats i {
  display: block;
}

.ucard .additional .stats div.title {
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
}

.ucard .additional .stats div.value {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5rem;
}

.ucard .additional .stats div.value.infinity {
  font-size: 2.5rem;
}

.ucard .general {
  width: 350px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  box-sizing: border-box;
  padding: 1rem;
  padding-top: 20px;
  white-space: normal;
}

.ucard .general .more {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 0.9em;
}

.user-card img {
    top: 30%;
    left: 17%;
    position: absolute;
    width: 65%;
    border: 3px solid rgba(0, 0, 0, 0.15);
}

