@model IEnumerable<PersonalBlog.Models.Post>
@inject IOptionsSnapshot<BlogSettings> settings

@{
    int currentPage = int.Parse(ViewContext.RouteData.Values["page"] as string ?? "0");
    int pageCount = int.Parse(ViewData["TotalPostCount"].ToString()) / 2; 
    Layout = "~/Views/Shared/_LayoutBlog.cshtml";
}

@section headerLeftNavItems 
{
    <li class="nav-item">
      <a class="nav-link text-primary" asp-controller="blog" asp-action="index">
        <span class="text-uppercase">Blog about coding & design</span>
      </a>
    </li>

    @if (User.Identity.IsAuthenticated)
    {
      <li class="nav-item pr-2 d-none d-sm-block">
        <a class="nav-link btn btn-sm btn-outline-primary text-primary" asp-controller="Blog" asp-action="Edit" asp-route-id=""><i class="fa fa-plus-circle"></i> New post</a>
      </li>

      <li class="nav-item pr-2 d-none d-sm-block">
        <a class="nav-link btn btn-sm btn-outline-primary text-primary" href="#" onclick="deletePosts()"><i class="fa fa-minus-circle"></i> Delete selected</a>
      </li>

      <li class="nav-item pr-2 d-none d-sm-block">
        <a class="nav-link btn btn-sm btn-outline-primary text-primary" href="#" onclick="selectAll()"><i class="fas fa-check-square"></i> Select all</a>
      </li>

      <li class="nav-item pr-2 d-none d-sm-block">
        <a class="nav-link btn btn-sm btn-outline-primary text-primary" href="#" onclick="unselectAll()"><i class="far fa-check-square"></i> Unselect all</a>
      </li>
    }
}

@section headerRightNavItems
{
}

@section headerDropdownRightNavItems
{
  <div class="dropdown-divider"></div>
  <a class="dropdown-item" href="#"onclick="expandAll()"><i class="fas fa-plus pr-2"></i> Expand all blog posts</a>
  <div class="dropdown-divider"></div>
  <a class="dropdown-item" href="#"onclick="collapseAll()"><i class="fas fa-minus pr-2"></i> Collapse all blog posts</a>
}

@section scripts 
{
  <script>
    // ┌────────────┐
    // │ Expand All │
    // └────────────┘

    expandAll = function() 
    {
      $('.card-blog-post').CardWidget('expand');
    }

    // ┌──────────────┐
    // │ Collapse All │
    // └──────────────┘

    collapseAll = function()
    {
      $('.card-blog-post').CardWidget('collapse');
    }

    // ┌──────────────┐
    // │ Delete Posts │
    // └──────────────┘

    deletePosts = function()
    {
      var checkGridSelection = "";
      var selected = $(".deletePosts:checked").map(function () {
        checkGridSelection = "Selected";
        return this.value;
      }).get();

      if (checkGridSelection == "Selected") {
          var r = confirm("The selected group(s) will be deleted. Do you want to continue ?");
          if (r == true) {
              var ids = selected.join(";");
              var serviceURL = '/Blog/DeletePosts/' + ids;
              $.ajax({
                  type: 'Post',
                  cache: false,
                  url: serviceURL,
                  dataType: "json",
                  error: function (result) {
                    alert("error");
                  },
                  success: function (data) {
                    if (data.deleted && data.total)
                      alert('Succeed: ' + data.deleted + '/' + data.total);
                    document.location.reload();
                  }
              });
          }
      }
    }

    // ┌────────────┐
    // │ Select All │
    // └────────────┘
    
    selectAll = function()
    {
      $('input:checkbox').prop('checked', true);
    }

    // ┌──────────────┐
    // │ Unselect All │
    // └──────────────┘
    
    unselectAll = function()
    {
      $('input:checkbox').prop('checked', false);
    }
  </script>
}

@foreach (var post in Model)
{
  <partial name="Post" model="post" />
}
