@model IEnumerable<PersonalBlog.Models.Post>
@inject IOptionsSnapshot<BlogSettings> settings

@{
    int currentPage = int.Parse(ViewContext.RouteData.Values["page"] as string ?? "0");
    int pageCount = int.Parse(ViewData["TotalPostCount"].ToString()) / 2; 

    Layout = "~/Views/Shared/_LayoutBlog.cshtml";
}

@section headerNavItems {
    <li class="nav-item pr-2">
      <a class="nav-link btn btn-default btn-sm" href="#"onclick="expandAll()"><i class="fas fa-plus"></i> Expand</a>
    </li>
    <li class="nav-item pr-2">
      <a class="nav-link btn btn-default btn-sm" href="#"onclick="collapseAll()"><i class="fas fa-minus"></i> Collapse</a>
    </li>
    @if (User.Identity.IsAuthenticated)
    {
      <li clas="nav-item pr-2">
        <a class="nav-link btn btn-default btn-sm" asp-controller="Blog" asp-action="Edit" asp-route-id=""><i class="fa fa-plus-circle"></i> New post</a>
      </li>
    }
}

@foreach (var post in Model)
{
    <partial name="Post" model="post" />
}

@section scripts 
{
    <script>
      expandAll = function() 
      {
        $('.card-blog-post').CardWidget('expand');
      }
      collapseAll = function()
      {
        $('.card-blog-post').CardWidget('collapse');
      }
    </script>
}