<div class="card card-widget widget-user">
    <div class="widget-user-header bg-primary">
        <h1><i class="fas fa-blog nav-icon"></i></h1>
        <h1 class="widget-user-username font-weight-bold">Blog</h1>
    </div><!--/.widget-user-header-->
    <div class="card-footer  px-0 py-3">
        <div class="row">
            <div class="col-sm-4 border-right">
                <div class="description-block">
                    <h5 class="description-header pb-3">46</h5>
                    <span class="description-text"><i class="fas fa-share"></i></span>
                </div>
                <!-- /.description-block -->
            </div><!--/.col-->
            <div class="col-sm-4 border-right">
                <div class="description-block">
                    <h5 class="description-header pb-3">125</h5>
                    <span class="description-text"><i class="fas fa-thumbs-up"></i></span>
                </div>
                <!-- /.description-block -->
            </div><!--/.col-->
            <div class="col-sm-4">
                <div class="description-block">
                    <h5 class="description-header pb-3">35</h5>
                    <span class="description-text"><i class="fas fa-comments"></i></span>
                </div>
                <!-- /.description-block -->
            </div><!--/.col-->
        </div><!--/.row-->
    </div><!--/.card-footer-->
</div><!--/.card-->
<div class="card card-widget widget-user-2">
    <!-- Add the bg color to the header using any of the bg-* classes -->
    <div class="widget-user-header card-outline card-primary">
        <h4 class="text-primary"><small><i class="fas fa-bookmark"></i> <b>CATEGORIES</b></small></h4>
    </div>
    <div class="p-0">
        <ul class="nav flex-column">
            <li class="nav-item">
            <a href="#" class="nav-link text-dark">
                ASP.NET core <span class="float-right"><b>31</b></span>
            </a>
            </li>
            <li class="nav-item">
            <a href="#" class="nav-link text-dark">
                EntityFramework <span class="float-right"><b>5</b></span>
            </a>
            </li>
            <li class="nav-item">
            <a href="#" class="nav-link text-dark">
                Aurelia <span class="float-right"><b>12</b></span>
            </a>
            </li>
            <li class="nav-item">
            <a href="#" class="nav-link text-dark">
                Typescript <span class="float-right"><b>842</b></span>
            </a>
            </li>
        </ul>
    </div>
</div><!--/.card-->
